<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <%- include ('partials/head.html') %>
</head>
<body>
    <%- include ('partials/navigation.html') %>
    <div class="container">
        <div class="col-2" class="left-bar">
            <div id="img-user" class="row container-fluid"><img src="<%= user.pictureUrl %>" class="rounded-circle"></img></div>
        </div>
        <div class="col-10">HEY</div>
    </div>
</body>
</html>